# SvelteKit
.svelte-kit
build/

# Production (using docs for GH Pages)
# docs/

# Ingestion source
suetonius_texts/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Node
node_modules/
npm-debug.log*

# OS
.DS_Store
.env
.env.*
!.env.example
static/content/busts_backup